{% extends 'marketing/layout.html' %}

{% block content %}

<section class="firstsection" id="particles-js">
    <div class="first_container">
      <img src="/static/images/nanlogowhite.png" class="img-responsive ">
      <h1 class="first_header">THE PEOPLE OF FRESNO<br/> ARE NOT A NUMBER</h1>
      <p class="first_info">
        800,000 people are reported missing each year in the United states. At any one time there are 20,000 active missing persons cases in California alone. An increasing number of these cases are the result of predatory phishing on social media accounts. Children and adults are befriended by preditors and routinely exploited.
    </div>
</section>
<section class="secondsection">
    <div class="second_container">
      <h1 class="second_header">THE PROBLEM IS CLOSER<br/>THAN YOU THINK</h1>
      <p class="second_info">
        Fresno County has a sizable human trafficking network. Of the 4 thousand plus missing persons cases reported in Fresno county 80% of the cases fall into the hands of a team of 3 or 4 investigators. <br>

        We are utilizing facial recognition technology to process known images of missing persons. Our “Spider” or bot crawls the internet and compares images to the missing persons database. When a match is found it logs where the image was found, and the time it was found. </p>



      </p><p style="margin-top: 20px;"><a class="learn_more" href="mailto:nanfresno@gmail.com">Contact Us </a></p>
    </div>
</section>

<!-- <section class="thirdsection">
    <div class="odometer" id="odometer">0000</div>
</section> -->



{% endblock %}